@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Trade+Winds&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Cousine", monospace;
}

body {
  background-color: #16171b;
  opacity: 0.9;
  background-position: 0 0;
  background-image: url("public/assets/noise.png");
  background-size: 200px 200px;
  /*animation: gradient 15s ease infinite;*/
  height: 100vh;
}


.ant-typography {
  font-family: 'Cousine', monospace;
}

.custom-table-dark .ant-table {
  background-color: #333;
  color: #fff;
}

.custom-table-dark .ant-table-thead > tr > th {
  background-color: #555;
  color: #fff;
}

.custom-table-dark .ant-table-tbody > tr > td {
  color: #fff;
}


.custom-table-dark-row {
  background-color: #555 !important;
}

.custom-table-dark-row:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.ant-dropdown-menu {
  border: 1px solid #3d3d43;
  background-color: #16171b !important;
  opacity: 0.9;
  background-position: 0 0;
  background-image: url("public/assets/noise.png");
  background-size: 200px 200px;
}
